.home{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;


}
.bton{
  animation-name: btn;
  animation-duration: 3s;  
  animation-delay: 2s;
  animation-fill-mode: backwards;
}
@keyframes btn {
    from {left: -150px;}
  to {right:200px;;}
}
.images{
  width: 50px;
  height: 5px;
  margin-left: 30px;
  margin-bottom: 45px;
}